<style>
    #threejs_container {
        width: 50%;
        /* height: 2500px; */
        /* align-items: stretch; */
        /* pointer-events: none; */
    }

    #threejs_wrapper {
        display: flex;
        justify-content: center;
        position: -webkit-sticky;
        position: sticky;
        top: 100px;
    }

    #threejs_canvas {
        /* display: block; */
        position: relative;
        /* width: 95%;
        height: 0%; */
        width: 95%;
        /* float: right; */
        /* top: 0; */

        /* padding-bottom: 60%; */
        /* z-index: -1; */
        pointer-events: auto;
        border: solid 2px whitesmoke;
        border-radius: 5px;
    }

    #threejs_labels {
        height: 100%;
        width: 100%;
        color: white;
    }

    #transform_preview {
        position: absolute;
        top: 100%;
        /* width: 200px; */
        /* height: 300px; */
    }

    .wrapper {
        max-width: none;
    }

    #gui {
        top: 100px;
        position: sticky;
        position: -webkit-sticky;
        float: right;
    }
</style>

<!-- <canvas id="threejs_canvas"></canvas> -->

<!-- <script src="https://unpkg.com/three@0.145.0/build/three.js"></script> -->
<!-- <script src="/assets/scripts/three.js"></script> -->

<script src="/assets/scripts/threejs_boilerplate.js" type="module"></script>
